<!-- Main Game Area -->
<div id="game-area" class="screen">
    <div id="room-view">
        <div class="interactive-item" id="connect4-game" data-item="connect4">
            <!-- Preview cells will be added by JavaScript -->
        </div>
        <div class="interactive-item" id="chess-game" data-item="chess">
            <!-- Chess preview will be added by JavaScript -->
        </div>
        <div class="interactive-item" id="scrabble-game" data-item="scrabble">
            <!-- Scrabble board preview will be added by JavaScript -->
        </div>
        <!-- Add scattered letters around the room -->
        <div class="interactive-item letter-tile" id="letter-E" data-letter="E">E</div>
        <div class="interactive-item letter-tile" id="letter-S" data-letter="S">S</div>
        <div class="interactive-item letter-tile" id="letter-C" data-letter="C">C</div>
    </div>
</div> 